# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Future posts
_posts/2025-10-30-CD-Qradar101.md
_posts/2025-09-27-HTB-HolmesCTF2025.md
_posts/2025-10-30-DFIR-report#1.md
_posts/2025-10-30-DFIR-report#2.md
_posts/2025-10-30-BelkasoftCTF1.md

# HTB writeups picture
assets/images/htb/*
